*.o
*.swp
*moc*
.cmake
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
Makefile
android-build
android_deployment_settings.json*
cmake_install.cmake
html
install_manifest.txt
libqicclient.a
qicclient_autogen
