*~
*.la
*.lo
*.o
*.swp
.deps
.libs
CMakeLists.txt.user
Makefile
Makefile.am.user*
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
autoscan-2.69.log
build*
compile
config.*
configure
configure.scan
depcomp
html
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
